/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.custom-nav-item {
    min-width: 70px;
}

.custom-logout-button, .custom-login-button, .custom-register-button, custom-button {
    text-decoration: none;
    border: 1px solid white;
    position: relative;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    margin-left: 5px;
}

.custom-logout-button span, .custom-login-button span, .custom-register-button span, custom-button span {
    text-decoration: none;
    padding: 15px 30px;
    color: #2a73cc;
    font-family: 'Courier New';
    font-weight: 900;
}

.custom-logout-button:hover, .custom-login-button:hover, .custom-register-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #2a73cc;
    border-color: #2a73cc;
}

.custom-logout-button span:hover, .custom-login-button span:hover, .custom-register-button span:hover, custom-button span:hover {
    color: white;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
