@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .custom-wrap-details {
        justify-content: space-around;
        color: white;
        margin-top: 10px;
    }

    .custom-wrap-details h2 {
        font-size: 20px;
    }

    .draft-container-wrap {
        margin-bottom: 5vh;
        display: block;
    }

    .draft-container {
        position: relative;
        display: inline-block;
    }

    .draft-image {
        width: 98vw;
        min-height: 200px;
    }

    .draft-text {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate( -50%, -50% );
        color: white;
    }

    .draft-text h1, .custom-wrap-Titles h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 5rem;
    }

    .draft-text h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
    }

    .draft-text a, .custom-teacher-text a {
        text-decoration: none;
        border: 1px solid white;
        position: relative;
        top: 20px;
        padding: 20px 40px;
        color: #2a73cc;
        background-color: white;
        border-radius: 5px;
    }

    .draft-text a b, .custom-teacher-text a b {
        font-family: Forte;
        font-weight: 900;
        letter-spacing: 0.2rem;
    }

    .draft-text a:hover, .custom-teacher-text a:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color: #2a73cc;
        color: white;
        border-color: #2a73cc;
    }

    .card {
        text-align: center;
        transition: 0.3s;
        width: 20vw;
        min-width: 200px;
        border-color: transparent;
    }

    .card i {
        font-size: 50px;
        margin: 15px 0;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .container {
        padding: 2px 16px;
    }

    .custom-wrap-keypoints {
        display: flex;
        justify-content: space-around;
    }
    /* Become a teacher */


    .custom-teacher-wrap {
        background-color: #d6edf6;
        margin: 10vh 0;
    }

    .custom-teacher-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    
</style>

<div id="banner" class="draft-container-wrap">
    <div class="draft-container">
        <img class="draft-image img-fluid" src="\Learn-Academy.jpg" alt="Experience" />
        <div class="draft-text">
            <div class="custom-wrap-Titles">
                <h1 style="font-size: 35px;">
                    Your Online Learning Platform
                </h1>
                <h3 style="font-family:OpenSans,Arial,sans-serif;">Success starts with Education at Learn Academy's <br />world-class courses & learning experience</h3>
                <a href="/Purchase/Create"><b>Learn Now</b></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="text-align:center;margin-bottom: 5vh;display:flex;justify-content:space-around;background-color:#d6edf6;padding:20px;">
        <h2>Why choose us over Udemy or Coursera?</h2>
        <div>
            <h4>You will know it from this group of satisfied students</h4>
            <a href="/Testimonial"><b>Click Here</b></a>
        </div>
    </div>
</div>
<div>
    <div class="custom-wrap-Titles">
        <h2 style="text-align:center; margin-bottom: 5vh;margin-top: 0;font-size: 40px;">Achieve your goals with Learn Academy</h2>
    </div>
    <div class="custom-wrap-keypoints">
        <div class="card">
            <i class="fas fa-brain"></i>
            <div class="container">
                <h4><b>Learn the latest skills</b></h4>
                <p>Wide variety of Courses that ranges from wallet making all the way to deep learning</p>
            </div>
        </div>
        <div class="card">
            <i class="fas fa-certificate"></i>
            <div class="container">
                <h4><b>World recognize certificates</b></h4>
                <p>Learn from professionals from all around the world that are certified by Learn Academy</p>
            </div>
        </div>
        <div class="card">
            <i class="fas fa-clock"></i>
            <div class="container">
                <h4><b>On demand learning</b></h4>
                <p>Learn at your own pace. Finish a course anytime you want, no one is rushing you!</p>
            </div>
        </div>
    </div>
</div>

<div class="row custom-teacher-wrap">
    <div class="col-md-6">
        <div>
            <img style="max-width: 500px; position: relative; bottom: 30px;left:20px" src="https://images.unsplash.com/photo-1580894732444-8ecded7900cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Avatar">
        </div>
    </div>
    <div class="col-md-6" style="display: flex; align-content: center;">
        <div class="text-center custom-teacher-text">
            <h3>Become a Teacher</h3>
            <p>Create an online video course and earn money by teaching people around the world.</p>
            <a href="/Teacher"><b>Start Teaching</b></a>
        </div>
    </div>
</div>
