@page
@model TeacherModel
@{
    ViewData["Title"] = "Teacher";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Teacher</h1>

<h2>Email: beteacher.learnacademy.com your portfolio</h2>
<h2>We will process your portfolio to check if you are qualified to be a teacher</h2>
<h2>You will receive a email if your request to be a teacher is successful</h2>