@page
@model PrivacyModel
@{
    ViewData["Title"] = "Error";
}
<h1>@ViewData["Title"]</h1>

<p>The Current Video have not been put up hence you cannot access it</p>
<p>Please wait until the teacher have put up the video</p>
