@page
@model Learn_Academy.Pages.Courses.PurchaseModel

@{
    ViewData["Title"] = "Purchase";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Membership.Plan" class="control-label"></label>
                <select asp-for="Membership.Plan" class="form-control" >
                    <option value="1">Monthly</option>
                    <option value="2">Yearly</option>
                    <option value="3">Decennial</option>
                </select>
                <span asp-validation-for="Membership.Plan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buy" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
