@page
@model Learn_Academy.Pages.Courses.Ratings.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Rating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rating.CourseID" class="control-label"></label>
                <input asp-for="Rating.CourseID" class="form-control" />
                <span asp-validation-for="Rating.CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating.CustomerName" class="control-label"></label>
                <input asp-for="Rating.CustomerName" class="form-control" />
                <span asp-validation-for="Rating.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating.CourseRating" class="control-label"></label>
                <input asp-for="Rating.CourseRating" class="form-control" />
                <span asp-validation-for="Rating.CourseRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating.Details" class="control-label"></label>
                <input asp-for="Rating.Details" class="form-control" />
                <span asp-validation-for="Rating.Details" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Rating.ID" />
            <div class="form-group">
                <label asp-for="Rating.Name" class="control-label"></label>
                <input asp-for="Rating.Name" class="form-control" />
                <span asp-validation-for="Rating.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating.CourseDate" class="control-label"></label>
                <input asp-for="Rating.CourseDate" class="form-control" />
                <span asp-validation-for="Rating.CourseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating.Category" class="control-label"></label>
                <input asp-for="Rating.Category" class="form-control" />
                <span asp-validation-for="Rating.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating.Author" class="control-label"></label>
                <input asp-for="Rating.Author" class="form-control" />
                <span asp-validation-for="Rating.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
